* {
  margin: 0px;
  padding: 0px;
}
#scoreboard {
  position: absolute;
  top: 10px;
  left: 10px;
  color: navy;
  font-family: Arial, sans-serif;
  font-size: 20px;
}

/*Lets start with the cloud formation rather*/

/*The container will also serve as the SKY*/

* {
  margin: 0;
  padding: 0;
}

body {
  /*To hide the horizontal scroller appearing during the animation*/
  overflow: hidden;
}
